# curl https://releases.rancher.com/install-docker/19.03.sh | sh
# sudo usermod -aG docker centos

nodes:
  - address: ${IP0}
    user: ubuntu
    role:
      - controlplane
      - etcd
      - worker
  - address: ${IP1}
    user: ubuntu
    role:
      - controlplane
      - etcd
      - worker
  - address: ${IP2}
    user: ubuntu
    role:
      - controlplane
      - etcd
      - worker

kubernetes_version: v1.19.4-rancher1-1