# curl https://releases.rancher.com/install-docker/20.10.sh | sh
# sudo usermod -aG docker fcbit

nodes:
  - address: ${IP0}
    user: ec2-user
    role:
      - controlplane
      - etcd
      - worker
  - address: ${IP1}
    user: ec2-user
    role:
      - controlplane
      - etcd
      - worker
  - address: ${IP2}
    user: ec2-user
    role:
      - controlplane
      - etcd
      - worker

kubernetes_version: v1.19.10-rancher1-1

network:
  plugin: calico

# kubernetes_version: v1.19.4-rancher1-1