nodes:
%{ for node in nodes ~}
%{ if can(node.default_ip_address) ~}
  - address: ${node.default_ip_address}
    internal_address: ${node.default_ip_address}
%{ else ~}
  - address: ${node.public_ip}
    internal_address: ${node.private_ip}
%{ endif ~}
    user: ubuntu
    role: [controlplane,worker,etcd]
%{ endfor ~}

kubernetes_version: ${kubernetes_version}

services:
  etcd:
    backup_config:
      interval_hours: 12
      retention: 6